<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elementoj.module.problem.mapper.EleProblemMapper">

    <resultMap type="com.elementoj.api.problem.domain.EleProblem" id="EleProblemMap">
        <id property="problemId" column="problem_id"/>
        <result property="title" column="title"/>
        <association property="user" resultMap="com.elementoj.auth.mapper.EleUserMapper.EleUserMap"/>
    </resultMap>

</mapper>